/* colors for this site
--text: #180101;
--background: #fef0f1;
--primary: #670406;
--secondary: #faaeae;
--accent: #d10a0d; --unused
--black: #180101; --same as text color
--cards: #fde3e4;
--primary-card: #e7cdce;
--subtle: #f7e8e9;
*/


/* header font: Lora
normal font: Bitter */


/* finished on 27-08-2023 03:41 UTC 
created by Tuireol (Çağrı Uysal)*/

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Lora&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fef0f1;
  margin: 0 10vw;
}

ul, a, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul, a {
  color: #180101;
}

ul, a, p, div, button {
  font-family: "Bitter", serif;
}

button {
  padding: 8px;
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
}

img {
  max-width: 240px;
  max-height: auto;
  border-radius: 24px;
}

.primary-color {
  background-color: #670406;
  color: #fef0f1;
}

.secondary-color {
  background-color: #faaeae;
}

header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-login {
  border-radius: 8px;
  padding: 16px;
}

.header-login:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.site-links {
  display: flex;
  gap: 8px;
}

.header-container {
  height: 10vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.greeting-main-container {
  min-height: 92vh;
  display: flex;
  justify-content: space-around;
  padding: 20vh 0;
  flex-wrap: wrap;
}

.greeting-box {
  flex: 0 1 24rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  text-align: justify;
  padding: 32px;
  margin: 2rem 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.cats-main-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 20vh 0;
  padding: 0 0 20vh; 
}

.cats-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.cats-container {
  background-color: #fde3e4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 24px;
  padding-top: 24px;
  min-width: 288px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  gap: 24px;
}

.cat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-cat {
  background-color: #e7cdce;
}

.text-shadow {
  text-shadow: #670406 1px 0px 30px;
}

.cat-about {
  padding: 0 24px 24px;
  text-align: center;
  font-size: 18px;
  max-width: 300px;
}

.albums-main-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.albums-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.album-container {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 24px;
  flex-wrap: wrap;
  background-color: #fde3e4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 24px;
  min-width: 300px;
}

.album {
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-about {
  flex: 1 1 300px;
  display: flex;
  align-items: center;
}
.album-text {
  font-size: 18px;
  text-align: justify;
}

.farewell-main-container {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.farewell-content-container {
  background-color: #faaeae;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  width: 65vw;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.farewell-text {
  flex: 6 1 300px;
  font-size: 18px;
  text-align: center;
}

.farewell-button {
  border-radius: 20px;
  padding: 24px;
  font-size: 18px;
  width: 70px;
  flex: 1 1 120px;
}

.subtle-text {
  color: #f7e8e9;
}

footer {
  min-height: 5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}